<p id="notice"><%= notice %></p>

<p>
  <strong>Ano:</strong>
  <%= @semestre.ano %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @semestre.tipo %>
</p>

<%= link_to 'Edit', edit_semestre_path(@semestre) %> |
<%= link_to 'Back', semestres_path %>
