<%= form_with(model: notum, local: true) do |form| %>
  <% if notum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notum.errors.count, "error") %> prohibited this notum from being saved:</h2>

      <ul>
      <% notum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :autor %>
    <%= form.text_field :autor, id: :notum_autor %>
  </div>

  <div class="field">
    <%= form.label :semestre_id %>
    <%= form.number_field :semestre_id, id: :notum_semestre_id %>
  </div>

  <div class="field">
    <%= form.label :disciplina_id %>
    <%= form.number_field :disciplina_id, id: :notum_disciplina_id %>
  </div>

  <div class="field">
    <%= form.label :data %>
    <%= form.date_select :data, id: :notum_data %>
  </div>

  <div class="field">
    <%= form.label :texto %>
    <%= form.text_area :texto, id: :notum_texto %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
